<mat-tab-group>
  <mat-tab label="My Archive">
        <mat-card>

            <mat-card-title class="bold">                  
                    My  archives
            </mat-card-title>

            <mat-card-content>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="60%">Archive</th>
                            <th width="10%">Acquisitions</th>
                            <th width="15%">Download</th>
                            <th width="15%">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ownedArchives.archives">
                            <td style="text-align: left;">                              
                                <strong>{{item.filename}}</strong>
                            </td>
                            <td class="text-center">
                                {{item.counter}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs" (click)="download(item.filename)">
                                    <span class="glyphicon glyphicon-download"></span> Download
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" (click)="remove(item.filename)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>

            <mat-card-title>
                <table>
                    <tr>
                        <td>
                            <button id="element1" [disabled]="ownedArchives._links===null||ownedArchives._links.previous===null||ownedArchives._links.previous===undefined"
                                type="button" class="btn btn-primary btn-s minbutton" (click)="getOwnedPrevious()">
                                <span class="glyphicon glyphicon-backward"></span> Previous
                            </button>
                        </td>
                        <br>
                        <td>
                            <button id="element2" [disabled]="ownedArchives._links===null||ownedArchives._links.next===null||ownedArchives._links.next===undefined"
                                type="button" class="btn btn-primary btn-s minbutton" (click)="getOwnedNext()">
                                <span class="glyphicon glyphicon-forward"></span> Next
                            </button>
                        </td>
                    </tr>
                </table>
            </mat-card-title>
        </mat-card>
    </mat-tab>



  <mat-tab label="Purchased Archive">
      <mat-card>
          <mat-card-title class="bold">                  
            Purchased Archives
          </mat-card-title>

          <mat-card-content>

              <table class="table">
                  <thead>
                      <tr>
                          <th width="70%">Archive</th>
                          <th width="30%">Download</th>
                      </tr>

                  </thead>

                  <tbody>
                      <tr *ngFor="let item of purchasedArchives.archives">
                          <td style="text-align: left;">
                              <strong>{{item.filename}}</strong>
                          </td>
                          <td nowrap>
                              <button type="button" class="btn btn-success btn-xs" (click)="download(item.filename)">
                                  <span class="glyphicon glyphicon-download"></span> Download
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </mat-card-content>
          <mat-card-title>
            <table>
                <tr>
                    <td>
                        <button id="element1" [disabled]="!(purchasedArchives._links?.previous)"
                            type="button" class="btn btn-primary btn-s minbutton" (click)="getPurPrevious()">
                            <span class="glyphicon glyphicon-backward"></span> Previous
                        </button>
                    </td>
                    <br>
                    <td>
                        <button id="element2" [disabled]="!(purchasedArchives._links?.next)"
                            type="button" class="btn btn-primary btn-s minbutton" (click)="getPurNext()">
                            <span class="glyphicon glyphicon-forward"></span> Next
                        </button>
                    </td>
                </tr>
            </table>
        </mat-card-title>

      </mat-card>
  </mat-tab>
</mat-tab-group>