<mat-tab-group>
    <mat-tab label="Archivi Caricati">
        <mat-card>

            <mat-card-title class="bold">                  
                Archivi Caricati
            </mat-card-title>

            <mat-card-content>
                <table class="mat-elevation-z5">
                    <thead>
                        <tr>
                            <th width="55%">File</th>
                            <th width="15%">Acquistato</th>
                            <th width="15%">Scarica</th>
                            <th width="15%">Rimuovi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ownedArchives.archives">
                            <td>                              
                                <strong>{{item.filename}}</strong>
                            </td>
                            <td class="text-center">
                                {{item.counter}}
                            </td>
                            <td>
                                <button type="button" mat-flat-button color="primary" (click)="download(item.filename)">
                                    <span class="glyphicon glyphicon-download"></span> Download
                                </button>
                            </td>
                            <td>
                                <button type="button" mat-flat-button color="warn" (click)="remove(item.filename)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>

                            </td>
                        </tr>
                    </tbody>

                </table>
            </mat-card-content>

                <button id="element1" [disabled]="ownedArchives._links===null||ownedArchives._links.previous===null||ownedArchives._links.previous===undefined"
                    type="button" mat-raised-button (click)="getOwnedPrevious()">
                    Previous
                </button>
                <button id="element2" [disabled]="ownedArchives._links===null||ownedArchives._links.next===null||ownedArchives._links.next===undefined"
                    type="button" style="float: right" mat-raised-button (click)="getOwnedNext()">
                    Next
                </button>

        </mat-card>
    </mat-tab>



    <mat-tab label="Archivi Acquistati">
      <mat-card>
            <mat-card-title class="bold">                  
                Archivi Acquistati
            </mat-card-title>

            <mat-card-content>

              <table class="table">
                  <thead>
                      <tr>
                          <th width="70%">File</th>
                          <th width="30%">Scarica</th>
                      </tr>

                  </thead>

                  <tbody>
                      <tr *ngFor="let item of purchasedArchives.archives">
                          <td style="text-align: left;">
                              <strong>{{item.filename}}</strong>
                          </td>
                          <td nowrap>
                              <button type="button" mat-flat-button color="primary" (click)="download(item.filename)">
                                  <span class="glyphicon glyphicon-download"></span> Download
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </mat-card-content>
            
            <button id="element1" [disabled]="!(purchasedArchives._links?.previous)"
                type="button" mat-raised-button (click)="getPurPrevious()">
                Previous
            </button>
            <button id="element2" [disabled]="!(purchasedArchives._links?.next)"
                type="button" style="float: right" mat-raised-button (click)="getPurNext()">
                Next
            </button>

        </mat-card>
    </mat-tab>
</mat-tab-group>