<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
    <mat-form-field>
      <input type="text" (focus)="clearErrMess()" matInput placeholder="Username" formControlName="username" pattern="^[a-zA-Z0-9_.-]*$" required>
    </mat-form-field>  
    
    <mat-form-field>
      <input type="password" (focus)="clearErrMess()" matInput placeholder="Password" formControlName="password" required>
    </mat-form-field> 

    <button mat-raised-button  type="submit" color="primary" [disabled]='loginForm.invalid || loading'>Login</button>
  </form>
  <br>
  <mat-card-content *ngIf="errorMessage">
    {{errorMessage}}
  </mat-card-content>
</mat-card>