.inner {
    display: inline-block;
}

.outer {
    /* width: 100%; */
    text-align: center;
}

mat-card-title,
  .center-card{
    display: flex;
    justify-content: center;
  }

  .link-btn:hover /deep/ .mat-button-focus-overlay {
    background-color: transparent;
    
}

/* table th {
    text-align: center;
    width: 100%;
  }
  
  table tr {
    text-align: center;
  }

  .bold{
    font-weight: bold;
  } */

td {
    text-align: center;
}

th {
    height: 50px;
    /* font-size: 120%; */
}

table, th, td {
    border: 1px groove;
    border-collapse: collapse;
}

table {
    width: 100%;
}