<mat-card>
  <form [formGroup]="signupForm" (ngSubmit)="signupFormSubmit()">
    <mat-form-field>
      <input type="text" (focus)="clearErrMess()" matInput placeholder="Username" formControlName="username" required pattern="^[a-zA-Z0-9_.-]*$">
    </mat-form-field>

    <mat-form-field>
      <input type="password" (focus)="clearErrMess()" matInput placeholder="Password" formControlName="password" required minlength="4" maxlength="16">
    </mat-form-field>

    <ng2-password-strength-bar 
              [passwordToCheck]="signupForm.controls.password.value"
              [barLabel]="startBarLabel"
              [barColors]="strengthBarColors"
              [strengthLabels]="strengthBarLabels">
    </ng2-password-strength-bar>
    
    <mat-form-field>
      <input type="password" (focus)="clearErrMess()" matInput placeholder="Conferma Password" formControlName="passwordConfirm" required validateEqual="password">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]='signupForm.invalid'>Registrati</button>
  </form>
  <br>
  <mat-card-content *ngIf="errorMessage">
    {{errorMessage}}
  </mat-card-content>
</mat-card>