<mat-card>
    <mat-card-title class="bold">
        Carica Posizioni
    </mat-card-title>

    <mat-card-content>
        <br>
        <br>
        <div class="row">

            <div class="col-md-4">

                <h4>Carica File</h4>

                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                    class="drop-zone">
                    Trascina il file qui
                </div>

                <h4>Oppure seleziona il File</h4>
                <br>
                <input type="file" id="file" class="upload divcontent" ng2FileSelect [uploader]="uploader"/>  

            </div>

            <div class="col-md-8" style="margin-bottom: 40px">

                <h3 style="text-align: center;">File in caricamento</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">File</th>
                            <th width="20%">Dimensione</th>
                            <th width="20%">Azioni</th>
                            <th width="10%">Stato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td>
                                <strong>{{ item?.file?.name }}</strong>
                            </td>
                            <td >{{ item?.file?.size/1024/1024 | number:'.2-2' }} MB</td>
                            <td nowrap>
                                <button type="button" mat-flat-button color="primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    Carica
                                </button>
                                <button type="button" mat-flat-button color="warn" (click)="item.remove()">
                                    Rimuovi
                                </button>
                            </td>
                            <td>
                                <span style="color: green" *ngIf="item.isSuccess">Caricato</span>
                                <span style="color: red" *ngIf="item.isError">Errore</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br>
                <div class="holder">
                    <table class="no-border">
                        <tr class="no-border">
                            <td class="no-border">
                                <div class="divider"></div>
                                <button type="button" mat-flat-button color="primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    Carica Tutti
                                </button>
                            </td>
                            <br>
                            <td class="no-border">
                                <div class="divider"></div>
                                <button type="button" mat-flat-button color="warn" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    Rimuovi Tutti
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>

    </mat-card-content>
</mat-card>