<mat-card-title>
        Upload New Positions
</mat-card-title>
<mat-card-content>
    <!-- <br> -->
    <!-- <br> -->
    <div class="row">

        <div class="col-md-4">
          <h4>Click below to upload file          
              <input type="file" id="file_input" class="upload divcontent" ng2FileSelect [uploader]="uploader" multiple/>
              <br/>
              <!-- <label for="file" classe="divcontent">
                  <img src="assets/cloud.png" class="divcontent" height="100" width="150" />
              </label> -->
          </h4>
        </div>

        <div class="col-md-8" style="margin-bottom: 40px">

            <h4>Upload queue</h4>
            <p class="pcenter">Queue Length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                    <tr>
                        <th width="45%">Name</th>
                        <th width="10%">Size</th>
                        <th width="15%">Progress</th>
                        <th width="5%">Status</th>
                        <th width="25%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td>
                            <strong>{{ item?.file?.name }}</strong>
                        </td>
                        <td >{{ item?.file?.size/1024 | number:'.2-2' }} MB</td>
                        <td >
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            <span *ngIf="item.isCancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                            </span>
                            <span *ngIf="item.isError">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

           
                <div class="progresscontainer">
                    Global Progress Queue
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <div class="holder">
                    <table>
                        <tr>
                            <td>
                                <div class="divider"></div>
                                <button type="button" class="btn btn-success btn-s divcenter" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                            </td>
                            <br>
                            <td>
                                <div class="divider"></div>
                                <button type="button" class="btn btn-warning btn-s divcenter" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                            </td>
                            <br>
                            <td>
                                <div class="divider"></div>
                                <button type="button" class="btn btn-danger btn-s divcenter" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>


</mat-card-content>